header{
   position: sticky;
   top: 0;
   z-index: 99; 
}

.mobile__menu{
    background-color: #222229;
    
   
}

.mobile__menu-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 64px;
    padding: 0 10px;
    border-bottom:1px solid #89bf19;

    @media screen and (min-width: 1001px) {
          display: none;
    }
}

.mobile__button {
    background-color: transparent;
    border: 0px;
}



.header__container {

    display: flex;
    background-color: #222229;
    align-items: center;
    justify-content: space-between;
    height: 65px;

    @media screen and (max-width: 1000px)  {
        display: none;
    }

    @media screen and (min-width:1000px) and (max-width:1199px) {
        padding: 0 50px;
    }

    @media screen and (min-width:1200px) {
        padding: 0 160px;
    }
}



.logo {
    height: 40px;
    object-fit: contain;
    @media screen and (max-width:1000px) {
        height: 42px;
        width: 135px;
        margin-left: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

.header__navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    color: #fff;
    
   
}

.header__navigation-item{
    text-decoration-color:#337224;
    font-size: 14px;
}

.header__navigation-item:hover{
    text-decoration: underline;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__links-icon{
    display: flex;
    gap: 9px;
    color: #fff;
    font-size: 14px;
    width: 100px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

button.header__links-icon {
    width: 100%;
}



.header__links-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #313137;
    border-radius: 25px;
}

.header__links-item:hover{
    background-color: #4B4B5C;
}

.header__links-item.enterIcon{
    background-color: none;
    width: 46px;
    border: 1px solid #fff;
}

.header__links-item.enterIcon:hover{
    border: 1px solid #89bf19;
}



.mobileButton {
    width: 150px;
    background: linear-gradient(180deg, #50B03A 0%, #3A9126 100%), #3A9126;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border: 0;
}

.mobileIcon{
    width: 44px;
    height: 44px;
    background: #4b4b5c;
    border-radius: 40px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}

.mobileIcon:hover{
    border: 1px solid #89bf19;
}

.header__links-item.openButton {
    width: 150px;
    background: linear-gradient(180deg, #50B03A 0%, #3A9126 100%), #3A9126;
}

.header__links-item.openButton::before{
    content: url('../images/sign.svg');
}

.header__links-item.openButton:hover{
    background: linear-gradient(180deg, #337224 0%, #3A9126 100%);
}

.main__image-mobile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header__learn {
    font-size: 14px;
    width: 70px;
    height: 44px;
    border-radius: 44px;
    border:0;
    color: #fff;
    background: linear-gradient(#50b03a 0%, #3a9126 100%), #3a9126;
    cursor: pointer;
}

.header__learn:hover{
    background-color: #4B4B5C;

}

.header__learn.mobile {
    width: 150px;
}

.lang-style {
    border-radius: 40px;
}



