.hero__description{
    padding: 20px;
    margin: 25px auto;
    text-align: center;
    background-color: #89bf19;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
}

.flex__container{
    align-items: center;
    background-color: #007EFC;
    padding: 30px;
    border-radius: 40px;
    margin-bottom: 20px;


    @media screen and (min-width:1001px) {
        width: 50vw;
    }
}

.hero__wrapper{
    color: #fff;
    gap: 20px;

    @media screen and (min-width:1001px) {
        display: flex;
    }
}

.hero__subtitle{
    font-size: 16px;
    margin-bottom: 20px;
}

.main__img-wrapper{
    display: grid;
    align-items: center;

    border-radius: 40px;
    padding: 30px;
    background-color: #fff;

    @media screen and (min-width:1001px) {
        max-width: 50%;
    }
}


.hero__list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.hero__button-wrapper{
    margin-bottom: 20px;
    text-align: center;
    margin: 20px 0;
    color: #fff;
    gap: 20px;

    @media screen and (min-width:768px) {
        display: flex;
    }
}

.hero__button-description1{
    padding: 50px;
    background-color: #DF804D;
    border-radius: 40px;
    margin-bottom: 20px;
    
    @media screen and (min-width:768px) {
        width: 50vw;
        margin: 0;
    }
}

.hero__button-description2{
    padding: 50px;
    background-color: #EB5B79;
    color: #fff;
    border-radius: 40px;

    @media screen and (min-width:768px) {
        width: 50vw;
    }
}

.descr__bold{
    font-weight: 600;
}

.hero__button-wrapper1{
    background-color: #007EFC;
    border-radius: 20px;
    padding: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.hero__button-wrapper2{
    background-color: #df804d;
    border-radius: 20px;
    padding: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.hero__button-item{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
