.hero__description{
    padding: 20px;
    margin: 25px auto;
    text-align: center;
    background-color: #89bf19;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
}

.flex__container{
    align-items: center;
    background-color: #007EFC;
    padding: 30px;
    border-radius: 40px;
    width: 50vw;
}

.hero__wrapper{
    display: flex;
    color: #fff;
    gap: 20px;
}

.hero__subtitle{
    font-size: 16px;
    margin-bottom: 20px;
}

.main__img-wrapper{
    max-width: 50%;
    border-radius: 40px;
    padding: 30px;
    background-color: #fff;
}

.hero__img {
    
}

.hero__list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.hero__button-wrapper{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    margin: 20px 0;
    color: #fff;
    gap: 20px;
}

.hero__button-description1{
    padding: 50px;
    background-color: #DF804D;
    border-radius: 40px;
    width: 50vw;
}

.hero__button-description2{
    padding: 50px;
    background-color: #EB5B79;
    color: #fff;
    border-radius: 40px;
    width: 50vw;
}

.descr__bold{
    font-weight: 500;
    color: #000;
}

